:root{
  --cinza: #121214;
  --verde: #04d361;
  --roxo: #7A4CE5;
  --amarelo: #F7DF1E;
}

body{
  margin: 0;
  padding: 0;
  background: var(--cinza);
  color: white;
}

.hero{
  margin: 0 1em;
}

.header{
  margin-top: 2em;
  font-size: 18px;
}

.header img{
  width: 40%;
}

.header-info{
  margin-top: 2em;
  display: flex;
}

.new-content{
  color: var(--amarelo);
}
.hero-content{
  margin-bottom: 4em;
}

.hero-content p{
  color: var(--verde);
}

.button{
  background: var(--roxo);
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 18px 25px;
}

.about img{
  width: 60%;
}