:root{
  --cinza: #121214;
  --verde: #04d361;
  --roxo: #7A4CE5;
  --amarelo: #F7DF1E;
  --cinza-claro: #e1e1e6;
}

body{
  margin: 0;
  padding: 0;
  background: var(--cinza);
  color: var(--cinza-claro);
}

.App{
  margin: 0 1em;
}

.hero{
  margin-bottom: 10em;
}

.header{
  margin-top: 2em;
  font-size: 18px;
}

.header img{
  width: 40%;
}

.header-info{
  margin-top: 2em;
  display: flex;
}

.icon{
  color: var(--verde)
}

.new-content{
  color: var(--amarelo);
}
.hero-content{
  margin-bottom: 4em;
}

.hero-content h1{
  font-size: 2.5em;
}
.hero-content p{
  color: var(--verde);
  margin-bottom: 3em;
}

.button{
  display: inline-block;
  border-radius: 3px;
  background: var(--roxo);
  color: white;
  text-decoration: none;

  font-size: 14px;
  padding: 18px 30%;
  border-bottom: 5px solid rgb(73, 45, 138);
}

.about img{
  width: 60%;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9em;
}

.pillar{
  border-left: 2px solid var(--roxo);
  padding: 0 2em;
  margin-bottom: 3em;
}

.pillar h1{
  font-size: 24px;
}