@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --cinza: #121214;
  --verde: #04d361;
  --roxo: #7A4CE5;
  --amarelo: #F7DF1E;
  --cinza-claro: #e1e1e6;
  --cinza-texto: #a8a8b3;
}

body{
  margin: 0;
  padding: 0;
  background: var(--cinza);
  color: var(--cinza-texto);
  font-family: 'Roboto', sans-serif;
}

h1{
  color: var(--cinza-claro);
}

.App{
  margin: 0 1em;
}

.hero{
  margin-bottom: 10em;
}

.header{
  margin-top: 2em;
  font-size: 18px;
}

.header img{
  width: 40%;
}

.header-info{
  margin-top: 2em;
  display: flex;
  color: var(--cinza-claro);
}

.icon{
  color: var(--verde)
}

.new-content{
  color: var(--amarelo);
}
.hero-content{
  margin-bottom: 4em;
}

.hero-content h1{
  font-size: 2.5em;
}
.hero-content p{
  color: var(--verde);
  margin-bottom: 3em;
}

.button{
  display: inline-block;
  border-radius: 3px;
  background: var(--roxo);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 18px 30%;
  border-bottom: 5px solid rgb(73, 45, 138);
}

.about img{
  width: 60%;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9em;
  color: var(--cinza-claro);
}

.highlight{
  color: var(--verde);
}

.pillar{
  border-left: 2px solid var(--roxo);
  padding: 0 2em;
  margin-bottom: 3em;
}

.pillar h1{
  font-size: 24px;
}

.disclaimer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  color: var(--verde);
  text-align: left;
}

.company-numbers{
  display: flex;
  flex-wrap: wrap;
}

.number {
  margin: 2em 0.5em;
  width: 45%;
  border-top: 6px solid var(--roxo);
}

.number h1{
  font-size: 2.5em;
  line-height: 18px;
}

.number span{
  color: var(--verde);
}

.disclaimer h1{
  color: var(--cinza-claro);
}

.disclaimer img{
  width: 80%;
}

.content-footer{
  margin-top: 3em;
  margin-bottom: 5em;
  font-size: 0.8em;
}

@media only screen and (min-width: 600px){
  .App{
    margin: 0 5em;
    background-image: url('./assets/background.png');
    background-size: 120em;
    background-position-x: -22em;
    background-position-y: -8em;
    background-repeat: no-repeat;
  }

  .hero{
    display: flex;
    flex-direction: column;
  }

  .header{
    display: flex;
  }

  .header img{
    margin-right: 3em;
    width: 15%;
  }

  .header-info div{
    font-size: 1.4em;
    margin-right: 2em;
  }

  .hero-content h1{
    font-size: 4.5em;
    margin-bottom: 0em;
  }

  .hero-content p{
    font-size: 1.2em;
  }

  .button{
    padding: 1.4em 3.6em;
    font-size: 1.2em;
  }

  .about{
    flex-direction: row;
  }

  .about-content{
    padding: 0 5em;
    font-size: 1.2em;
  }

  .about-content h1{
    font-size: 2.5em;
  }

  .pillars-title{
    font-size: 3em;
    margin-bottom: 2em;
  }

  .pillars{
    display: flex;
  }

  .pillar{
    border-left: none;
    border-top: 4px solid var(--roxo);
    margin: 1em;
    padding: 0;
  }
  
  .pillar h1{
    font-size: 2.5em;
  }

  .pillar p{
    font-size: 1.2em;
  }
}